<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>GCN5 Portal</display-name>

	<servlet>
		<servlet-name>GenticsInvokerServlet</servlet-name>
		<servlet-class>com.gentics.portalnode.portlet.InvokerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<listener>
		<listener-class>com.gentics.portalnode.portlet.PortletAppRegistrationInvoker</listener-class>
	</listener>

	<context-param>
		<param-name>contextPath</param-name>
		<param-value>/GCN5_Portal</param-value>
	</context-param>
	<context-param>
		<param-name>gcnBackendBasePath</param-name>
		<param-value>${portal.gcnbackendurl}</param-value>
	</context-param>
	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>com.gentics.portalnode.proxy.GCNProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/GCN/*</url-pattern>
	</servlet-mapping>

	<!-- SEARCH-INDEXER SERVLET -->
	<servlet>
		<description>Gentics .Node REST API for a Content Content Repository</description>
		<display-name>indexer</display-name>
		<servlet-name>indexer</servlet-name>
		<servlet-class>com.gentics.cr.lucene.IndexJobServlet</servlet-class>
		<!-- It is important that the indexer servlet is initialized on startup 
			(before the first search request is sent). Otherwise initializing the indexes 
			might fail. -->
		<load-on-startup>5</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>indexer</servlet-name>
		<url-pattern>/indexer/*</url-pattern>
	</servlet-mapping>
	<!-- END SEARCH-INDEXER SERVLET -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>