#set ($lastindex = $portal.page.positions.get($position.id).portlets.size() - 1)
#if ($lastindex == $position.index)
#set ($last = "last")
#end
<div class="box navigation $!last">
$portlet.content
</div>