<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Gentics Content.Node 5 Demo Portal</title>
<link rel="stylesheet" href="/Portal.Node/file/files/css/reset.css" />
<link rel="stylesheet" href="/Portal.Node/file/files/css/text.css" />
<link rel="stylesheet" href="/Portal.Node/file/files/css/960.css" />
<!-- <link rel="stylesheet" href="/Portal.Node/file/files/css/portal.css"> -->
<link rel="stylesheet" href="/GCN5_Portal/css/portal.css">
<link rel="stylesheet" href="/Portal.Node/file/files/css/autoSuggest.css" />
<link rel="stylesheet" href="/GCN5_Portal/css/tipTip.css" />
<script type="text/javascript" src="/GCN5_Portal/js/include.js"></script>
<script type="text/javascript" src="/GCN5_Portal/js/jquery.autoSuggest.js"></script>
<script type="text/javascript" src="/GCN5_Portal/js/jquery.tipTip.js"></script>
</head>
<body>
	<!-- Header -->
	<div class="container_12 header">
		<div class="grid_12 branding">
			<a href="/Portal.Node/">
				<img src="/GCN5_Portal/img/logo.png" alt="Gentics Software GmbH" title="Gentics Software GmbH" />
			</a>
			<div class="tools">
#set($count = 0)
#foreach($portlet in $portal.page.positions.tools.portlets)
#if($count != 0)
	|
#end
#set($count = $count + 1)
$portlet
#end

#foreach($portlet in $portal.page.positions.search.portlets)
$portlet
#end
			</div> 
		</div>
		<div class="grid_12 navigation">
#foreach($portlet in $portal.page.positions.topnav.portlets)
$portlet
#end
		</div>
	</div>
	<!-- /Header -->
	
	<!-- Main -->
	<div class="container_12 main">
		<!-- Left column -->
		<div class="grid_3 left">
#foreach($portlet in $portal.page.positions.left.portlets)
$portlet
#end
		</div>
		<!-- /Left column -->
		
		<!-- Center column -->
		<div class="grid_6 center">
			<!-- Content -->
#foreach($portlet in $portal.page.positions.center.portlets)
$portlet
#end
			<!-- /Content -->
		</div>
		<!-- /Center column -->
		
		<!-- Right column -->
		<div class="grid_3 right">
#foreach($portlet in $portal.page.positions.right.portlets)
$portlet
#end
		</div>
		<!-- /Right column -->
	</div>
	<div class="clear"></div>
	<!-- /Main -->
	<!-- Footer -->
	<div class="container_12 footer">
		<div class="grid_3">
			<h2>Information</h2>
			<p>
				<a href="#">Imprint</a><br />
				<a href="#">Support</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Get in Touch</h2>
			<p>
				Join us on <a href="#">Facebook</a><br />
				Follow us on <a href="#">Twitter</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Updates</h2>
			<p>
				<a href="#">News RSS Feed</a><br />
				<a href="#">Blog RSS Feed</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Powered by</h2>
			<p>
				Gentics Software GmbH
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<!-- /Footer -->
</body>
</html>