<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Gentics Content.Node 5 Demo Portal</title>
<script type="text/javascript" src="/GCN5_Portal/js/include.js"></script>
<script type="text/javascript" src="/GCN5_Portal/js/jquery.tipTip.js"></script>
<script type="text/javascript">
/**
 * use this surrogate for document.ready, as jQuery will be 
 * loaded dynamically and jQuery.ready() can't be used 
 */
function ready() {
	// handle mouseleave event for version history
	jQuery('#historypanel ul').mouseleave(function() {
		jQuery('#historypanel').fadeOut("fast");
	});
}

/**
 * restore a previous GCN page version
 */
function restoreVersion(ts) {
	var pageid = "$portal.modules.content.contentid".replace("10007.", "");
	jQuery.post("/GCN5_Portal/GCN/CNPortletapp/rest/page/restore/" + pageid + "?sid=$portal.user.sid&version=" + ts,
				function () {
			// trigger content reload after a successful restore
			jQuery.get("/Portal.Node/portal?gentics.rs=actions.Actions&gentics.rsid=restoreVersion&gentics.pb=center",
			function () {
				document.location.href = "/Portal.Node/portal";
			}); 
		});
}
</script>
<link rel="stylesheet" href="/Portal.Node/file/files/css/reset.css" />
<link rel="stylesheet" href="/Portal.Node/file/files/css/text.css" />
<link rel="stylesheet" href="/Portal.Node/file/files/css/960.css" />
<!-- <link rel="stylesheet" href="/Portal.Node/file/files/css/portal.css" /> -->
<link rel="stylesheet" href="/GCN5_Portal/css/portal.css">
<link rel="stylesheet" href="/GCN5_Portal/css/tipTip.css" />
</head>
<body onload="ready()">
	<!-- Header -->
	<div class="container_12 header">
		<div class="grid_12 branding">
			<a href="/Portal.Node/">
				<img src="/GCN5_Portal/img/logo.png" alt="Gentics Software GmbH" title="Gentics Software GmbH" />
			</a>
			<div class="tools">
#set($count = 0)
#foreach($portlet in $portal.page.positions.tools.portlets)
#if($count != 0)
	|
#end
#set($count = $count + 1)
$portlet
#end

#foreach($portlet in $portal.page.positions.search.portlets)
$portlet
#end
			</div> 
		</div>
		<div class="grid_12 navigation">
#foreach($portlet in $portal.page.positions.topnav.portlets)
$portlet
#end
		</div>
	</div>
	<!-- /Header -->
	
	<!-- Main -->
	<div class="container_12 main">
		<!-- Left column -->
		<div class="grid_3 left">
#foreach($portlet in $portal.page.positions.left.portlets)
$portlet
#end
		</div>
		<!-- /Left column -->
		
		<!-- Center column -->
		<div class="grid_9 center wiki">
			<!-- Content -->
#foreach($portlet in $portal.page.positions.center.portlets)
$portlet
#end
			<!-- /Content -->
		</div>
		<!-- /Center column -->
	</div>
	<div class="clear"></div>
	<!-- /Main -->
	<!-- Footer -->
	<div class="container_12 footer">
		<div class="grid_3">
			<h2>Information</h2>
			<p>
				<a href="#">Imprint</a><br />
				<a href="#">Support</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Get in Touch</h2>
			<p>
				Join us on <a href="#">Facebook</a><br />
				Follow us on <a href="#">Twitter</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Updates</h2>
			<p>
				<a href="#">News RSS Feed</a><br />
				<a href="#">Blog RSS Feed</a>
			</p>
		</div>
		<div class="grid_3">
			<h2>Powered by</h2>
			<p>
				Gentics Software GmbH
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<!-- /Footer -->
</body>
</html>