##=================================================================================================
## Gentics TextComponent
##=================================================================================================
## classdefinition
#if ($component.properties.cssclass && $component.properties.cssclass != "")
  #set ($cssclass = $component.properties.cssclass)
#else
  #set ($cssclass = "")
#end
#set ($labelclass = "")
#if ($component.properties.labelclass && $component.properties.labelclass != "")
  #set ($labelclass = " class='$component.properties.labelclass'")
#end
#set ($labelstyle = "")
#if ($component.properties.labelstyle && $component.properties.labelstyle != "")
  #set ($labelstyle = " style='$component.properties.labelstyle'")
#end

##-- Label ----------------------------------------------------------------------------------------
<label${labelclass}${labelstyle} for="$component.namepassword">
  $component.label:*
</label>

##-- PasswordComponent ----------------------------------------------------------------------------
#if(!$component.enabled)
  	***
#else
  <input type="password" id="$component.namepassword" name="$component.namepassword" value=""
    ## size
    #if ($component.properties.size && $component.properties.size != "") size="$component.properties.size" #end  
    ## maxlength
    #if ($component.properties.maxlength && $component.properties.maxlength != "") maxlength="$component.properties.maxlength" #end  
    ## style
    #if ($component.properties.style && $component.properties.style != "") style="$component.properties.style"  #end  
    ## class  
    class="#if ($component.error)${cssclass} alert#else${cssclass}#end"
    ## onMouseOver 
    #if($component.help)onmouseover="doTooltip(event,'$component.help');"#end 
    ## onMouseOut
    #if($component.help)onmouseout="hideTip();"#end />
#end
<div class="nofloat passwordspacer"></div>
##-- Verify Label ---------------------------------------------------------------------------------
#if ($component.properties.labelverify && $component.properties.labelverify != "")
  #set ($labelverify = $component.properties.labelverify)
#else 
  #set ($labelverify = $component.labelverify)  
#end  

#if ($labelverify)
  <label${labelclass}${labelstyle} for="$component.namepasswordverify">$labelverify:*</label>
#end

##-- Verify PasswordComponent ---------------------------------------------------------------------
#if (!$component.enabled)
  	***
#else
  <input type="password" id="$component.namepasswordverify" name="$component.namepasswordverify" value="" 
    ## size
    #if ($component.properties.size && $component.properties.size != "") size="$component.properties.size" #end  
    ## maxlength
    #if ($component.properties.maxlength && $component.properties.maxlength != "") maxlength="$component.properties.maxlength" #end  
    ## style
    #if ($component.properties.style && $component.properties.style != "") style="$component.properties.style"  #end  
    ## class  
    class="#if ($component.error)${cssclass} alert#else${cssclass}#end"
    ## onMouseOver 
    onmouseover="#if($component.help) doTooltip(event,'$component.help'); #end" 
    ## onMouseOut   
    onmouseout="#if($component.help) hideTip(); #end"  />
#end
##-- ErrorText ------------------------------------------------------------------------------------
<div class="alert">#if($component.error)$component.errortext #end</div>