#set ($cssclass = "")
#if ($component.properties.cssclass && $component.properties.cssclass != "")
  #set ($cssclass = $component.properties.cssclass)
#end
#set ($labelclass = "")
#if ($component.properties.labelclass && $component.properties.labelclass != "")
  #set ($labelclass = " class='$component.properties.labelclass'")
#end
#set ($labelstyle = "")
#if ($component.properties.labelstyle && $component.properties.labelstyle != "")
  #set ($labelstyle = " style='$component.properties.labelstyle'")
#end

<label${labelclass}${labelstyle} for="$component.name">$component.label#if ($component.optional == false)*#end</label>
<input#if ($component.properties.style && $component.properties.style != "") style="$component.properties.style"#end type="password" id="$component.name" #if (!$component.enabled) disabled #end name="$component.name" value="" class="$cssclass#if($component.error) alert#end" #if($component.help)onmouseover="doTooltip(event,'$component.help');"#end #if($component.help)onmouseout="hideTip();"#end />

#if ($component.focus)
<script language="javascript">
<!--
document.getElementById("$component.name").focus();
-->
</script>
#end

<div class="alert">#if ($component.error)$component.errortext#end</div>